[Service]
Type=oneshot
User=smolotchi
Group=smolotchi
EnvironmentFile=-/etc/smolotchi/env
RuntimeDirectory=smolotchi smolotchi/locks
RuntimeDirectoryMode=0775
StateDirectory=smolotchi
StateDirectoryMode=0775
ExecStart=/usr/local/bin/smolotchi prune
