[Unit]
Description=Smolotchi Core (WiFi / LAN / Tools Engine) [NET_ADMIN]
After=network-online.target
Wants=network-online.target
Conflicts=smolotchi-core.service

[Service]
Type=simple
User=smolotchi
Group=smolotchi
WorkingDirectory=/var/lib/smolotchi
EnvironmentFile=-/etc/smolotchi/env

ExecStart=/usr/local/bin/smolotchi core

Restart=always

MemoryMax=350M
CPUQuota=70%

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
